$color-primary-light: rgba(9, 37, 76, 0);
$color-primary-dark: rgba(226, 93, 0, 0);
$color-secondary-light: #2E1437;
$color-secondary-dark: #948E99;
$color-green: #00c8aa;
$color-yellow: yellow;
$color-paragraph: #939da5;
$color-grey-dark: #333d48;
$color-input: #2e353f;
$color-white: #fff;
$color-black: #000000;
$color-white-dark: rgb(230, 230, 230);
$color-white-light: rgb(255, 255, 255);

$border-gray: 0.1rem solid #939da5;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 4rem;

//FONTS
$open-sans: "Open Sans","Helvetica Neue","Lucida Grande",Arial,Verdana,sans-serif;;
